
body {
  height: 100vh;

  background:#E1CBC9;
  margin: 10%;
}

.background {
  background-color: #C5D2D0;
  position: fixed;
  top: -640px;
  bottom: 0;
 right: 0;
  height: 150vh;
  width: 26%;
  border-left: 6px solid black;
  display: block;
  text-decoration: none;
}

.text-1 {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 18px;
  padding-right: 30%;
}

.text-2 {
    position: relative;
  top: 350px;
display: flex;
   justify-content: center;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 18px;
 padding-right: 30%;
}


.text-3 {
  position: relative;
 top: 650px;
  display: flex;
   justify-content: center;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 18px;
 padding-right: 30%;
}

.text-4 {
      position: relative;
  top: 950px;
 
  display: flex;
   justify-content: center;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 18px;
 padding-right: 30%;
}

@keyframes fall {
 0%  { transform: translateX(-8.5rem) translateY(9.2rem); }
    50% { transform:  translateY(20rem) translateX(2rem) rotateZ(90deg) scale(0.2, 0.2); }
    100% { transform: translateX(-8.5rem) translateY(9.2rem); }
  }
  #fall {
 font-size: 18px;
    animation: fall 10s ease-in-out infinite;
  font-family: linotype-sabon,sans-serif;
font-weight: 400;
font-style: normal;
}

@media only screen and (min-width: 800px) {
  
body {
  height: 250vh;

  background:#E1CBC9;
  margin: 10%;
}
.text-1 {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 30px;
  padding-right: 15%;

}
.text-2 {
    position: relative;
  top: 450px;
display: flex;
   justify-content: center;
  text-align: center;
  color: white;
  font-family: helvetica;
 font-size: 30px;
  padding-right: 15%;

}
  .text-3 {
  position: relative;
 top: 850px;
  display: flex;
   justify-content: center;
  text-align: center;
  color: white;
  font-family: helvetica;
   font-size: 30px;
    padding-right: 15%;
}
.text-4 {
      position: relative;
  top: 1250px;
 
  display: flex;
   justify-content: center;
  text-align: center;
  color: white;
  font-family: helvetica;
 font-size: 30px;
  padding-right: 15%;
}
  @keyframes fall {
 0%  { transform: translateX(-8rem) translateY(3.2rem); }
    50% { transform:  translateY(15rem) translateX(2rem) rotateZ(90deg) scale(0.2, 0.2); }
    100% { transform: translateX(-8rem) translateY(3.2rem); }
  }
  #fall {
 font-size: 18px;
    animation: fall 5s ease-in-out infinite;
  font-family: linotype-sabon,sans-serif;
font-weight: 400;
font-style: normal;
}

  .background {
  background-color: #C5D2D0;
  position: fixed;
top: 0;
  bottom: 0;
right: 0;
  height: 150vh;
  width: 12%;
  border-left: 6px solid black;
  display: block;
  text-decoration: none;
}
